---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Button from '../../ui/Button.astro'

// Content
// - Hero Image
// - Avatars
---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
			<!-- <ChipNotification radius="rounded-full" classes="mb-6">
				<strong>30K+</strong> satisfied customers
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification> -->
			<h1>Territorios de <strong>GOL</strong>⚽</h1>

			<p class="pb-0 text-lg">Historias de fútbol en Medellín con una perspectiva feminista</p>
			<Button size="lg" link="/">Ver historias</Button>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="8">
			<!-- <Image
				src={heroImage}
				alt="Foxi. The tailwind astro theme"
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
				format="webp"
			/> -->
		
		</Col>
		<Col span="2" />
	</Row>
</Section>
