---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Button from '../../ui/Button.astro'

// Content
// - Hero Image
// - Avatars
---

<Section id="intro" padding="top" classes="bg-neutral-50 dark:bg-neutral-900">
	<Row>
		<Col span="2" />
		<Col span="8" align="center">
		
			<!-- <h1>Territorios de <strong>GOL</strong>⚽</h1>

			<p class="pb-0 text-lg">Historias de fútbol en Medellín con una perspectiva feminista</p>
			<Button size="lg" link="/">Ver historias</Button> -->
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="8">
			<!-- <img
				src="/1.webp"
				alt="Foxi. The tailwind astro theme"
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
			/> 
		 -->
		</Col>
		<Col span="2" />
	</Row>
</Section>
